// app global css in Sass form
//.container
//  width: 800px

.section-header
  max-height: 30px !important

.thin-full-section
  margin-left: 150px
  margin-right: 150px

section
  margin-top: 100px
  margin-bottom: 100px
  max-width: 900px

/* width */
::-webkit-scrollbar
  width: 12px


/* Track */
::-webkit-scrollbar-track
  background: var(--q-dark-page)


/* Handle */
::-webkit-scrollbar-thumb
  background-color: $grey-7
  border: 3px solid var(--q-dark-page)
  border-radius: 10px
