// app global css in Sass form
//.container
//  width: 800px

html, body
  @media (max-width: $breakpoint-xs-max)
    overflow-x: hidden

body
  @media (max-width: $breakpoint-xs-max)
    position: relative


section
  align-items: center

.section-header
  max-height: 30px !important

.hero
  @media (max-width: $breakpoint-xs-max)
    justify-content: center

section
  margin-top: 60px
  margin-bottom: 60px
  max-width: 900px
  @media (max-width: $breakpoint-md-max)
    padding-left: 16px
    padding-right: 16px
    margin-top: 30px
    margin-bottom: 40px

/* width */
::-webkit-scrollbar
  width: 12px


/* Track */
::-webkit-scrollbar-track
  background: var(--q-dark-page)


/* Handle */
::-webkit-scrollbar-thumb
  background-color: $grey-7
  border: 3px solid var(--q-dark-page)
  border-radius: 10px

.slot-header
  color: $lightest-slate

.slot-body
  color: $slate

.hover-underline-animation
  text-decoration: none
  display: inline-block
  position: relative
  color: var(--q-primary)

.hover-underline-animation:after
  content: ''
  position: absolute
  width: 100%
  transform: scaleX(0)
  height: 1px
  bottom: 0
  left: 0
  background-color: var(--q-primary)
  transform-origin: bottom left
  transition: transform 0.25s ease-out

.hover-underline-animation:hover:after
  transform: scaleX(1)
  transform-origin: bottom left
//@font-face
//  font-family: PlayFair Display
//  src: url('./fonts/PlayfairDisplay-VariableFont_wght.ttf')
//
//.about-font
//  font-family: 'PlayFair Display', sans-serif
